*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
}



html,body{

height: 100%;
width: 100%;
background-color: black;

}

.Card{
  border-radius: 10px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  width: 300px;
  background-color: #333;
  margin: 20px;
}

.parent{

  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  


}




.Card button{
  padding: 10px 20px;
  background-color: white;
  color:black;
  border: none;
  border-radius: 10px;

}

.Card p{
  margin: 20px 0px;

}
